<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/header.css">
<section>

    <header class="head">
        <form action="/carz" method="get">
            <div class="brand"><button class="brand1"><i class="fa-solid fa-car"></i> Carz</button></div>
          </form>
        
        <form action="/carz/new" method="get">
            <div class="add"><button class="addacar">Add a car</button></div>
          </form>
      
    </header>
    
</section>