footer{
    background-color: #4169E1;
    color:white;
    font-family: "Halant", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
   
    font-size: 1.2rem;
   
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}
.flexx{
text-align: center;
  display: grid;
  align-items: center;
}
.a{
    display: block;
    color: white;
    text-decoration: none;
}
.btnn{
    border:none;
    background-color: #4169E1;
    color: white;
    font-size: 1.2rem;
    display: block;
}