body{
    margin:0;
}
.brand , .add{
    display: inline-block;
   
    margin-top:10px;
}

.addacar{
    border:none;
    background-color: #4169E1;
    color:white;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Halant", serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 0.5rem;
    padding: 5px;
    cursor:pointer;
    
}
.addacar:hover{
    
    background-color: #06278a52;
    border-radius: 8%;
 
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4169E1;
    position:sticky;
    top:0;
    padding:0;
    margin:0;
    height: 3rem;
   
    padding-bottom: 13px;
}
.brand1{
    border:none;
    background-color: #4169E1;
    color: white;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
    margin-left: 1rem;
    color:white;
    cursor:pointer;

}

.headerdiv{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    font-size:1.5rem;
}
.iconlist{
    cursor:pointer;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color:white;
}
.link{
    text-decoration:none;
    color:black;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}
.options{
    background-color: rgba(128, 128, 128, 0.711);
    padding:1rem;
    display:inline-block;
    text-align:center;
    position:absolute;
    right:0;
    z-index: 2;
    top:2;
    border-radius:3%;
    
    
}
.displayhidden{
    display:none;
}