body{
    margin:0;
}
.brand , .add{
    display: inline-block;
   
    margin-top:10px;
}

.addacar{
    border:none;
    background-color: #4169E1;
    color:white;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Halant", serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 0.5rem;
    padding: 5px;
    cursor:pointer;
    
}
.addacar:hover{
    
    background-color: #06278a52;
    border-radius: 8%;
 
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4169E1;
    position:sticky;
    top:0;
    padding:0;
    margin:0;
    height: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 13px;
}
.brand1{
    border:none;
    background-color: #4169E1;
    color: white;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
    margin-left: 1rem;
    color:white;
    cursor:pointer;

}

