.viewflex{
    display:flex;
    justify-content: center;
    
}
.carcard{
    width: 40rem;
    margin:2rem;
}

.cont{
    display:flex; flex-wrap:wrap;
    justify-content: center;
}
.reviewcard{
    margin:0.8rem;
    min-width:20rem;
}